.encabezado {
  height: 80px;
}
.encabezado img {
  height: 60%;
}

@media screen and (min-width: 768px) {
  .encabezado {
    height: 120px;
    padding-left: 1rem;
  }
  .encabezado img {
    height: 90%;
  }
}
