* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  background-color: black;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .encabezado {
    height: 120px;
    padding-left: 1rem;
    background-color: black;
  }
}
.encabezado img {
  height: 90%;
  /*    @media screen and (min-width: 768px) {
          height: 90%;
      }*/
}

.navBar {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(76, 187, 214);
  border-radius: 4px;
}
.navBar .btn {
  font-size: 16pt;
}
@media screen and (min-width: 768px) {
  .navBar .btn {
    font-size: 14pt;
  }
}
.navBar .bi {
  vertical-align: -0.125em;
  fill: white;
  width: 32px;
  height: 32px;
}
.navBar a {
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar a {
    font-size: 12pt;
  }
}
.navBar ul {
  margin-left: 15px;
}
.navBar ul li {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li {
    font-size: 12pt;
  }
}
.navBar ul li a {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li a {
    font-size: 12pt;
  }
}

.bodyCont {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(76, 187, 214);
}
@media screen and (min-width: 768px) {
  .bodyCont p {
    font-size: 12pt;
    text-align: center;
    width: 90%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
/*$Loc{

}*/
.footer {
  background-color: rgb(76, 187, 214);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  background-color: black;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .encabezado {
    height: 120px;
    padding-left: 1rem;
    background-color: black;
  }
}
.encabezado img {
  height: 90%;
  /*    @media screen and (min-width: 768px) {
          height: 90%;
      }*/
}

.navBar {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(76, 187, 214);
  border-radius: 4px;
}
.navBar .btn {
  font-size: 16pt;
}
@media screen and (min-width: 768px) {
  .navBar .btn {
    font-size: 14pt;
  }
}
.navBar .bi {
  vertical-align: -0.125em;
  fill: white;
  width: 32px;
  height: 32px;
}
.navBar a {
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar a {
    font-size: 12pt;
  }
}
.navBar ul {
  margin-left: 15px;
}
.navBar ul li {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li {
    font-size: 12pt;
  }
}
.navBar ul li a {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li a {
    font-size: 12pt;
  }
}

.bodyCont {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(76, 187, 214);
}
@media screen and (min-width: 768px) {
  .bodyCont p {
    font-size: 12pt;
    text-align: center;
    width: 90%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
/*$Loc{

}*/
.footer {
  background-color: rgb(76, 187, 214);
  text-align: center;
}

.indexencab {
  display: flex;
  background-color: black;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .indexencab {
    height: 120px;
    padding-left: 1rem;
    background-color: black;
  }
}
.indexencab img {
  height: 70%;
}
@media screen and (min-width: 768px) {
  .indexencab img {
    height: 90%;
  }
}

.frmLogIn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .frmLogIn {
    background-color: black;
    height: 120px;
    width: 100%;
  }
}
.frmLogIn img {
  position: relative;
  border: 1px solid black;
  transition-delay: 700ms;
  transition-duration: 1s;
  filter: grayscale(100%);
  left: 130px;
  border: 1px solid black;
}
.frmLogIn .usrImg {
  width: 40px;
  -webkit-animation-name: neon_glow;
          animation-name: neon_glow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes neon_glow {
  50% {
    box-shadow: 0px 0px 3px 4px cyan;
    filter: grayscale(0%);
  }
}
@keyframes neon_glow {
  50% {
    box-shadow: 0px 0px 3px 4px cyan;
    filter: grayscale(0%);
  }
}
@media screen and (min-width: 768px) {
  .frmLogIn .usrImg {
    width: 70px;
  }
}
.frmLogIn .pwdImg {
  width: 0%;
  visibility: hidden;
}
.frmLogIn .logUsr {
  opacity: 0;
  font-size: 8pt;
  background-color: black;
  width: 0px;
  transition-duration: 2s;
}
@media screen and (min-width: 768px) {
  .frmLogIn .logUsr {
    font-size: 10pt;
  }
}
.frmLogIn .logPwd {
  opacity: 0;
  font-size: 8pt;
  background-color: black;
  width: 0px;
  transition-duration: 2s;
}
@media screen and (min-width: 768px) {
  .frmLogIn .logPwd {
    font-size: 10pt;
  }
}
.frmLogIn a {
  transition-duration: 1s;
  opacity: 0;
  color: white;
  text-decoration: none;
  font-size: 10pt;
}
@media screen and (min-width: 768px) {
  .frmLogIn a {
    text-decoration: none;
    font-size: 10pt;
  }
}
.frmLogIn:hover img {
  transition-delay: 1ms;
  filter: grayscale(0%);
  left: 0px;
  transition-duration: 1s;
}
.frmLogIn:hover .usrImg {
  width: 20px;
  -webkit-animation-name: none;
          animation-name: none;
}
@media screen and (min-width: 768px) {
  .frmLogIn:hover .usrImg {
    width: 30px;
  }
}
.frmLogIn:hover .pwdImg {
  visibility: visible;
  width: 20px;
}
@media screen and (min-width: 768px) {
  .frmLogIn:hover .pwdImg {
    width: 30px;
  }
}
.frmLogIn:hover .logUsr {
  transition-delay: 100ms;
  transition-duration: 2s;
  width: 100px;
  opacity: 1;
  background-color: aliceblue;
}
@media screen and (min-width: 768px) {
  .frmLogIn:hover .logUsr {
    width: 130px;
  }
}
.frmLogIn:hover .logPwd {
  transition-delay: 100ms;
  transition-duration: 2s;
  width: 90px;
  opacity: 1;
  background-color: aliceblue;
}
@media screen and (min-width: 768px) {
  .frmLogIn:hover .logPwd {
    width: 100px;
  }
}
.frmLogIn:hover a {
  opacity: 1;
  transition-delay: 1s;
  transition-duration: 2s;
}

.reel .carousel-item img {
  height: 10rem;
  min-width: 16.24rem;
  max-width: 16.25rem;
  margin: auto;
}
@media screen and (min-width: 576px) {
  .reel .carousel-item img {
    height: 16rem;
    max-width: 24.38rem;
  }
}
@media screen and (min-width: 768px) {
  .reel .carousel-item img {
    height: 22rem;
    max-width: 32.5rem;
  }
}
@media screen and (min-width: 992px) {
  .reel .carousel-item img {
    height: 34rem;
    max-width: 48.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .reel .carousel-item img {
    height: 46rem;
    max-width: 74.75rem;
  }
}
@media screen and (min-width: 1400px) {
  .reel .carousel-item img {
    height: 80%;
    max-width: 80%;
  }
}
.reel .carousel-item iframe {
  height: 10rem;
  max-width: 16.25rem;
  margin: auto;
  margin: auto;
  padding: auto;
  /*max-height: -moz-fit-content;
  max-height: fit-content;*/
}
@media screen and (min-width: 576px) {
  .reel .carousel-item iframe {
    height: 16rem;
    max-width: 24.38rem;
  }
}
@media screen and (min-width: 768px) {
  .reel .carousel-item iframe {
    height: 22rem;
    max-width: 32.5rem;
  }
}
@media screen and (min-width: 992px) {
  .reel .carousel-item iframe {
    height: 34rem;
    max-width: 48.75rem;
  }
}
@media screen and (min-width: 1200px) {
  .reel .carousel-item iframe {
    height: 46rem;
    max-width: 74.75rem;
  }
}
@media screen and (min-width: 1400px) {
  .reel .carousel-item iframe {
    height: 80%;
    max-width: 80%;
  }
}

.envFpag {
  margin: 0px 0px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0) 100%);
}
.envFpag img {
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}
@media screen and (min-width: 768px) {
  .envFpag img {
    height: 80px;
  }
}
.envFpag p {
  font-size: 10pt;
}
@media screen and (min-width: 768px) {
  .envFpag p {
    font-size: 15pt;
  }
}

.reelProd .carousel-item img {
  height: 1rem;
  margin: auto;
  /* @media screen and (min-width: 576px) {
       height: 1rem;
       max-width: 24.38rem;
   }
   @media screen and (min-width: 768px) {
       height: 5rem;
       max-width: 32.5rem;
   }
   @media screen and (min-width: 992px) {
       height: 34rem;
       max-width: 48.75rem;
   }
   @media screen and (min-width: 1200px) {
       height: 46rem;
       max-width: 74.75rem;
   }
   @media screen and (min-width: 1400px) {
       height: 80%;
       max-width: 80%;
   }*/
}
.reelProd .carousel-item iframe {
  height: 1rem;
  margin: auto;
  padding: auto;
  /*max-height: -moz-fit-content;
  max-height: fit-content;
  @media screen and (min-width: 576px) {
      height: 16rem;
      max-width: 24.38rem;
  }
  @media screen and (min-width: 768px) {
      height: 22rem;
      max-width: 32.5rem;
  }
  @media screen and (min-width: 992px) {
      height: 34rem;
      max-width: 48.75rem;
  }
  @media screen and (min-width: 1200px) {
      height: 46rem;
      max-width: 74.75rem;
  }
  @media screen and (min-width: 1400px) {
      height: 80%;
      max-width: 80%;
  }*/
}

.whoWeAre {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 10pt;
}
@media screen and (min-width: 768px) {
  .whoWeAre p {
    font-size: 14pt;
  }
}

.ubicacion {
  color: white;
  display: flex;
  flex-direction: column;
}

.frmContacto {
  color: white;
  margin-left: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 5px;
}
.frmContacto .frmContactoMail {
  margin: 2px;
  width: 99%;
}
.frmContacto .frmContactoTextbox {
  margin: 2px;
  width: 99%;
}
.frmContacto .frmContactoBtn {
  margin-left: 60%;
}
@media screen and (min-width: 768px) {
  .frmContacto .frmContactoBtn {
    margin-left: 75%;
  }
}

.btn-submit {
  height: 15px;
  Width: 100px;
  Background-color: grey;
  Font-size: 10pt;
  Color: black;
  Text-align: center;
  height: 30px;
  width: 50px;
  background-color: rgb(57, 173, 28);
  font-size: 10ptpt;
  color: white;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  background-color: black;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .encabezado {
    height: 120px;
    padding-left: 1rem;
    background-color: black;
  }
}
.encabezado img {
  height: 90%;
  /*    @media screen and (min-width: 768px) {
          height: 90%;
      }*/
}

.navBar {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(76, 187, 214);
  border-radius: 4px;
}
.navBar .btn {
  font-size: 16pt;
}
@media screen and (min-width: 768px) {
  .navBar .btn {
    font-size: 14pt;
  }
}
.navBar .bi {
  vertical-align: -0.125em;
  fill: white;
  width: 32px;
  height: 32px;
}
.navBar a {
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar a {
    font-size: 12pt;
  }
}
.navBar ul {
  margin-left: 15px;
}
.navBar ul li {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li {
    font-size: 12pt;
  }
}
.navBar ul li a {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li a {
    font-size: 12pt;
  }
}

.bodyCont {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(76, 187, 214);
}
@media screen and (min-width: 768px) {
  .bodyCont p {
    font-size: 12pt;
    text-align: center;
    width: 90%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
/*$Loc{

}*/
.footer {
  background-color: rgb(76, 187, 214);
  text-align: center;
}

.prod_bodyCont p {
  font-size: 8pt;
  text-align: center;
  font-weight: bold;
  width: 100%;
  background-color: rgb(76, 187, 214);
}
@media screen and (min-width: 768px) {
  .prod_bodyCont p {
    font-size: 10pt;
  }
}

.logoMarca {
  height: 40px;
}
@media screen and (min-width: 768px) {
  .logoMarca {
    height: 70px;
  }
}
.logoMarca img {
  height: 80%;
}

.prod_card {
  width: 300px;
}
@media screen and (min-width: 768px) {
  .prod_card {
    width: 350px;
  }
}
.prod_card .card-body p {
  font-size: 8pt;
  background-color: rgb(224, 224, 231);
}
@media screen and (min-width: 768px) {
  .prod_card .card-body p {
    font-size: 10pt;
    background-color: rgb(224, 224, 231);
  }
}
.prod_card .card-body .img-fluid {
  width: 40%;
}
.prod_card .card-body .btn {
  height: 2.2rem;
  width: 8rem;
  margin-left: 10%;
  /*img {
      height: 1.5rem;
      margin-bottom: 5px;
  }*/
}
@media screen and (min-width: 768px) {
  .prod_card .card-body .btn {
    height: 3rem;
    margin-left: 10%;
  }
}
.prod_card .card-body .btn .btnImg {
  transition-duration: 0.75s;
  height: 1.8rem;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .prod_card .card-body .btn .btnImg {
    height: 2.1rem;
  }
}
.prod_card .card-body .btn .btnImg2 {
  transition-duration: 0.75s;
  height: 0%;
  visibility: hidden;
}
.prod_card .card-body .btn:focus .btn {
  width: 1.8rem;
}
@media screen and (min-width: 768px) {
  .prod_card .card-body .btn:focus .btn {
    width: 2.1rem;
  }
}
.prod_card .card-body .btn:focus .btnImg2 {
  transition-duration: 0.75s;
  height: 1.8rem;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .prod_card .card-body .btn:focus .btnImg2 {
    height: 2.1rem;
    width: 2.1rem;
  }
}
.prod_card .card-body .btn:focus .btnImg {
  transition-duration: 0.75s;
  width: 0%;
  visibility: hidden;
}
.prod_card:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  position: relative;
  top: -3px;
  right: 3px;
  /*animation: $animation $duration $method $times;*/
  -webkit-animation-name: neon_glow;
          animation-name: neon_glow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.prod_itemContainer {
  border: 1px solid black;
  background-color: aliceblue;
  width: 200px;
}

.mycart_navBar {
  justify-content: space-evenly;
}

.mycart_card .card-body p {
  font-size: 9pt;
}

.mycart_bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(224, 224, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  background-color: black;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .encabezado {
    height: 120px;
    padding-left: 1rem;
    background-color: black;
  }
}
.encabezado img {
  height: 90%;
  /*    @media screen and (min-width: 768px) {
          height: 90%;
      }*/
}

.navBar {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(76, 187, 214);
  border-radius: 4px;
}
.navBar .btn {
  font-size: 16pt;
}
@media screen and (min-width: 768px) {
  .navBar .btn {
    font-size: 14pt;
  }
}
.navBar .bi {
  vertical-align: -0.125em;
  fill: white;
  width: 32px;
  height: 32px;
}
.navBar a {
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar a {
    font-size: 12pt;
  }
}
.navBar ul {
  margin-left: 15px;
}
.navBar ul li {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li {
    font-size: 12pt;
  }
}
.navBar ul li a {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li a {
    font-size: 12pt;
  }
}

.bodyCont {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(76, 187, 214);
}
@media screen and (min-width: 768px) {
  .bodyCont p {
    font-size: 12pt;
    text-align: center;
    width: 90%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
/*$Loc{

}*/
.footer {
  background-color: rgb(76, 187, 214);
  text-align: center;
}

.hist_card {
  width: 18rem;
}
@media screen and (min-width: 912px) {
  .hist_card {
    width: 27rem;
  }
}
.hist_card .card-header {
  background-color: rgb(76, 187, 214);
}
.hist_card ul li {
  font-size: 10pt;
}
@media screen and (min-width: 912px) {
  .hist_card ul li {
    font-size: 14pt;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  background-color: black;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .encabezado {
    height: 120px;
    padding-left: 1rem;
    background-color: black;
  }
}
.encabezado img {
  height: 90%;
  /*    @media screen and (min-width: 768px) {
          height: 90%;
      }*/
}

.navBar {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid rgb(76, 187, 214);
  border-radius: 4px;
}
.navBar .btn {
  font-size: 16pt;
}
@media screen and (min-width: 768px) {
  .navBar .btn {
    font-size: 14pt;
  }
}
.navBar .bi {
  vertical-align: -0.125em;
  fill: white;
  width: 32px;
  height: 32px;
}
.navBar a {
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar a {
    font-size: 12pt;
  }
}
.navBar ul {
  margin-left: 15px;
}
.navBar ul li {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li {
    font-size: 12pt;
  }
}
.navBar ul li a {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 768px) {
  .navBar ul li a {
    font-size: 12pt;
  }
}

.bodyCont {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(76, 187, 214);
}
@media screen and (min-width: 768px) {
  .bodyCont p {
    font-size: 12pt;
    text-align: center;
    width: 90%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
/*$Loc{

}*/
.footer {
  background-color: rgb(76, 187, 214);
  text-align: center;
}

.mainBody {
  background-color: rgb(76, 187, 214);
}

.form-control {
  background-color: black;
  color: white;
}

.form-select {
  background-color: black;
  color: white;
}/*# sourceMappingURL=main.css.map */