* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navBar {
  justify-content: space-evenly;
}
.card-body p {
  font-size: 9pt;
}
.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgb(120, 120, 121);
}
