* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region Mobile*/

.encabezado {
  display: flex;
  background-color: black;
  height: 90px;
}

.encabezado img {
  height: 90%;
}

.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(76, 187, 214);
}

.navBar ul li,
.navBar ul li a,
.navBar a {
  text-decoration: none;
  font-size: 9pt;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  color: black;
}

.bodyCont p {
  font-size: 7pt;
  text-align: center;
  font-weight: bold;
  width: 90%;
  background-color: rgba(76, 187, 214, 1);
}

.bodyCont {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: black;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

/* #region Desktop*/
@media screen and (min-width: 768px) {
  .encabezado {
    height: 110px;
    padding-left: 1rem;
    background-color: black;
  }
  .encabezado img {
    height: 90%;
  }
  .navBar ul li,
  .navBar ul li a,
  .navBar a {
    font-size: 14pt;
  }

  .bodyCont p {
    font-size: 12pt;
    text-align: center;
    width: 90%;
  }

  .itemDescription {
    margin: 5;
  }
  .itemDescription Img {
    width: 40%;
    border: 1px solid black;

    float: left;
  }
  .itemDesTxtDescription {
    background-color: silver;
    font-size: 12px 2px 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 60px;
  }

  .hisCprasImg {
    width: 50px, 2px;
    margin-left: 8px;
  }
  .hisCprasTxtDescription {
    background-color: silver;
    font-size: 12px 2px 2px 2px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 60px;
  }
  .hisCprasBtn {
    background-color: darkslateblue;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
}
