@import"_style.scss";

.mainBody{
    background-color: $colorSecundario;

}
.form-control{
    background-color: black;
    color: white;
}
.form-select{
    background-color: black;
    color: white;
}