.frmLogIn{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (min-width :768px){
        background-color: $colorBase;
        height: 120px;
        width: 100%;
        }
            img{
            position: relative;
            border: 1px solid black;
            transition-delay: 700ms;    
            transition-duration: 1s;
            filter: grayscale(100%);
            left: 130px;
            border: 1px solid black;
            }
        
        .usrImg{
            width: 50px;
            animation-name: neon_glow;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            @media screen and (min-width :768px){
            width: 70px;}
                }
            .pwdImg{
                width: 0%;
                visibility: none;
                }
        .logUsr {
            opacity: 0;
            font-size: 8pt;
            background-color: $colorBase;
            width: 0px;
            transition-duration: 2s;
            @media screen and (min-width :768px){
                font-size: 10pt;}
                }
        .logPwd {
            opacity: 0;
            font-size: 8pt;
            background-color: $colorBase;
            width: 0px;
            transition-duration: 2s;
            @media screen and (min-width :768px){
                font-size: 10pt;
            }
        } 
            a {
            transition-duration: 1s;
            opacity: 0;
            color: black;
            text-decoration: none;
            font-size: 7pt;
            @media screen and (min-width :768px){
                color: white;
                text-decoration: none;
                font-size: 10pt;
            }
        }
    &:hover{
                img {
                    transition-delay: 1ms;
                    filter: grayscale(0%);
                    left: 0px;
                    transition-duration: 1s;
                }
                .usrImg{
            width: 20px;
            animation-name:none;
            @media screen and (min-width: 768px) {
                width: 30px;
            }
                }
                .pwdImg{
            visibility: visible;        
            width: 20px;
            @media screen and (min-width: 768px) {
                width: 30px;
            }
                }
                .logUsr {
                    transition-delay: 100ms;
                    transition-duration: 2s;
                    width: 130px;
                    opacity: 1;
                    background-color: aliceblue;
                }
            .logPwd{
                transition-delay: 100ms;
                transition-duration: 2s;
                width: 100px;
                opacity: 1;
                background-color: aliceblue;
            }
            a {
                opacity: 1;
                transition-delay: 1s;
                transition-duration: 2s;
            }
        }
    
}

.carousel-item{
    img  {
        height: 10rem;
        min-width: 16.24rem;
        max-width: 16.25rem;
        margin: auto;@media screen and (min-width: 576px) {
            height: 16rem;
            max-width: 24.38rem;
        }
        @media screen and (min-width: 768px) {
            height: 22rem;
            max-width: 32.5rem;
        }
        @media screen and (min-width: 992px) {
            height: 34rem;
            max-width: 48.75rem;
        }
        @media screen and (min-width: 1200px) {
            height: 46rem;
            max-width: 74.75rem;
        }
        @media screen and (min-width: 1400px) {
            height: 80%;
            max-width: 80%;
        }
    }
    iframe{
        height: 10rem;
        min-width: 16.24rem;
        max-width: 16.25rem;
        margin: auto;     margin: auto;
        padding: auto;
        max-height: -moz-fit-content;
        max-height: fit-content;
        @media screen and (min-width: 576px) {
            height: 16rem;
            max-width: 24.38rem;
        }
        @media screen and (min-width: 768px) {
            height: 22rem;
            max-width: 32.5rem;
        }
        @media screen and (min-width: 992px) {
            height: 34rem;
            max-width: 48.75rem;
        }
        @media screen and (min-width: 1200px) {
            height: 46rem;
            max-width: 74.75rem;
        }
        @media screen and (min-width: 1400px) {
            height: 80%;
            max-width: 80%;
        }
    }
}
.whoWeAre {
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 10pt;
    p {
    @media screen and (min-width: 768px) {
            font-size: 14pt;
        }
    }
}
.ubicacion {
    display: flex;
    flex-direction: column;
}
.frmContacto {
    margin-left: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
}
.frmContactoMail {
    margin: 2px;
    width: 99%;
}
.frmContactoTextbox {
    margin: 2px;
    width: 99%;
}
.frmContactoBtn {
    margin-left: 60%;
    @media screen and (min-width: 768px) {
        margin-left: 75%;
    }
}
