.mycart_navBar {
    justify-content: space-evenly;
}
.mycart_card{
    .card-body p {
        font-size: 9pt;
    }  
}

.mycart_bodyCont p {
    font-size: 7pt;
    text-align: center;
    font-weight: bold;
    width: 90%;
    background-color: rgb(224, 224, 231);
}