*   {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    $colorBase:black;
    $colorSecundario:rgba(76, 187, 214,1);
    $colorTerciario:white;

.encabezado {
    display: flex;
    background-color: $colorBase;
    height: 70px;
    @media screen and (min-width: 768px) {
        height: 120px;
        padding-left: 1rem;
        background-color: $colorBase;
    }
    img {
        height: 90%;
    /*    @media screen and (min-width: 768px) {
            height: 90%;
        }*/
    }
}  

.navBar {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid $colorSecundario;
    border-radius: 4px;
    .btn {
        font-size: 16pt;
        @media screen and (min-width: 768px)  {
            font-size: 14pt;
    }  
    }
    .bi {
        vertical-align: -.125em;
        fill: white;  
        width:32px; 
        height:32px;
        }
    a {
        font-size: 16pt;
        text-decoration: none;
        color: white;
        font-family: "Times New Roman", Times, serif;
        @media screen and (min-width: 768px) {
            font-size: 12pt;
        }
    }
    ul { 
        margin-left: 15px;
        li{
            font-size: 14pt;
            font-family: "Times New Roman", Times, serif;
            @media screen and (min-width: 768px) {
                font-size: 12pt;
            }
            a {
                font-size: 14pt;
                font-family: "Times New Roman", Times, serif;
                @media screen and (min-width: 768px) {
                    font-size: 12pt;
                }
            }
        }
    }
}

.bodyCont {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: black;
    p {
        font-size: 7pt;
        text-align: center;
        font-weight: bold;
        width: 90%;
        background-color: $colorSecundario;
        @media screen and (min-width: 768px) {
            font-size: 12pt;
            text-align: center;
            width: 90%;
        }
    }

}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    @media screen and (min-width: 768px) {

    }
}
$btnSize:(
sm:0.80, 
md:1, 
lg:1.20,
);

$paletaColor:(
primary:$colorBase,
secundary:$colorSecundario,
tiertiary:$colorTerciario,
negro:black,
blanco:white,
submit:rgb(57, 173, 28),
);
/*$Loc{

}*/

@mixin btn-std {
height:15px;
Width:100px;
Background-color:grey;
Font-size:10pt;
Color:black;
Text-align:center;
}

@mixin crBtn ($height, $width, $btn-size, $bg-color, $fnt-size, $fnt-color, $fnt-loc){
$size: map-get($btnSize,$btn-size);
@include btn-std;

@if ($height > 0) {
	height:calc($height*$size)+px;} @else{
height:calc($height*$size)+px;
}

@if ($width>0){
width:calc($width*$size)+px;}
@else{
width:calc($width*$size)+px;
}

@if ($bg-color !=””) {background-color:map-get($paletaColor,$bg-color);
}
@if ($fnt-size>0){font-size: $fnt-size+pt;}
@if ($fnt-color !=””) {color: map-get($paletaColor,$fnt-color);} @else{color:black;}

@if ($fnt-loc !=””) {text-align:$fnt-loc;}
}

.footer {
    background-color: $colorSecundario;
    text-align: center;
}
